<% if current_user.authenticated? %>
  <span class="menu-separator">|</span>
  <%= link_to(
        t(".viat_my_album"),
        favorites_path(:locale => I18n.locale, 'catalog' => @catalog.id),
        target: "_blank",
      ) %>
<% end %>
