.data-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .data-menu {
        font-size: 12pt;
    }
}
