<div class="top-content-type-home">
    <h1>Littérature et culture matérielle (1830-2020)</h1>
    <p>Hello World</p>
    <p>Hello World 2</p>

    <div class="daily-object">
        <h2><%= @daily_object_name %></h2>
        <a href="<%= @daily_object_url %>">Voir la fiche</a>
    </div>
</div>